<div *ngIf="purchase">
  <h2>PURCHASE {{purchase.id}} Details</h2>
  <ul class="purchases">
    <li><span class="badge">ID</span>{{purchase.id}}</li>
    <li><span class="badge">Client</span><input [(ngModel)]="purchase.client" placeholder="client id"/></li>
    <li><span class="badge">Book</span><input [(ngModel)]="purchase.book" placeholder="book id"/></li>
    <li><span class="badge">Date</span><input [(ngModel)]="purchase.transactionDate" placeholder="date"/></li>
  </ul>
</div>

<button (click)="save()">save</button>
