<h1>Add a new Book:</h1>
<ul class="books">
  <li>
    <span class="badge">Title</span><input #title/>
  </li>
  <li>
    <span class="badge">Author</span><input #author/>
  </li>
  <li>
    <span class="badge">Year</span><input #year/>
  </li>
  <li>
    <span class="badge">Price</span><input #price/>
  </li>
</ul>


<button (click)="save(title.value, author.value, year.value, price.value)">
  Save
</button>
