<h2>Books:</h2>
<button (click)="addNewBook()">Add New Book</button>
<!--a routerLink="/books/new" routerLinkActive="active">First Component</a-->
<ul class="books">
  <li *ngFor="let book of books"
      [class.selected]="book === selectedBook"
      (click)="onSelect(book)">
    <span class="badge">{{book.id}}</span> <span class="title">{{book.title}},</span> by {{book.author}}
    <button
      [class.delete]="true"
      (click)="deleteBook(book);$event.stopPropagation()">delete
    </button>
  </li>
</ul>

<app-books-detail [book]="selectedBook"></app-books-detail>
