<div *ngIf="book">
  <h2>{{book.title | uppercase}} Details</h2>
  <ul class="books">
    <li><span class="badge">ID</span>{{book.id}}</li>
    <li><span class="badge">Title</span><input [(ngModel)]="book.title" placeholder="title"/></li>
    <li><span class="badge">Author</span><input [(ngModel)]="book.author" placeholder="author"/></li>
    <li><span class="badge">Year</span><input [(ngModel)]="book.year" placeholder="year"/></li>
    <li><span class="badge">Price</span><input [(ngModel)]="book.price" placeholder="price"/></li>
  </ul>
</div>

<button (click)="save()">save</button>
