<nav>
  <a routerLink="/books" routerLinkActive="active">Books</a>
  <a routerLink="/clients" routerLinkActive="active">Clients</a>
  <a routerLink="/purchases" routerLinkActive="active">Purchases</a>
</nav>

<router-outlet></router-outlet>
