<h1>Add a new Client:</h1>
<ul class="clients">
  <li>
    <span class="badge">First Name</span><input #firstName/>
  </li>
  <li>
    <span class="badge">Last Name</span><input #lastName/>
  </li>
  <li>
    <span class="badge">Address</span><input #address/>
  </li>
</ul>


<button (click)="save(firstName.value, lastName.value, address.value)">
  Save
</button>

