.selected {
  background-color: #CFD8DC !important;
  color: white;
}
.clients {
  margin: 0 0 2em 0;
  padding: 0;
  width: 40em;
}
.clients li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
  list-style: none;
}
.clients li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
.clients li:hover {
  color: #607D8B;
  background-color: #DDD;

}
.clients .text {
  position: relative;
  top: -3px;
}
.clients .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

.title {
  font-weight: bold;
}

input {
  width: 80%;
  height: 90%;
}

button.delete {
  float:right;
  margin-top: 2px;
  margin-right: .8em;
  background-color: gray !important;
  color:white;
}
