<h2>Clients:</h2>
<button (click)="addNewClient()">Add New Client</button>
<ul class="clients">
  <li *ngFor="let client of clients"
      [class.selected]="client === selectedClient"
      (click)="onSelect(client)">
    <span class="badge">{{client.id}}</span> <span class="title">{{client.firstName}} {{client.lastName}}</span>
    <button
      [class.delete]="true"
      (click)="deleteClient(client);$event.stopPropagation()">delete
    </button>
  </li>
</ul>

<app-clients-detail [client]="selectedClient"></app-clients-detail>
