<div *ngIf="client">
  <h2>{{client.firstName | uppercase}} {{client.lastName | uppercase}} Details</h2>
  <ul class="clients">
    <li><span class="badge">ID</span>{{client.id}}</li>
    <li><span class="badge">First Name</span><input [(ngModel)]="client.firstName" placeholder="first name"/></li>
    <li><span class="badge">Last Name</span><input [(ngModel)]="client.lastName" placeholder="last name"/></li>
    <li><span class="badge">Address</span><input [(ngModel)]="client.address" placeholder="address"/></li>
  </ul>
</div>

<button (click)="save()">save</button>
