<h1>Add a new Purchase:</h1>
<ul class="purchases">
  <li>
    <span class="badge">Client ID</span><input #client/>
  </li>
  <li>
    <span class="badge">Book ID</span><input #book/>
  </li>
  <li>
    <span class="badge">Transaction Date</span><input #date/>
  </li>
</ul>


<button (click)="save(client.value, book.value, date.value)">
  Save
</button>

