<h2>Purchases:</h2>
<button (click)="addNewPurchase()">Add New Purchase</button>
<ul class="purchases">
  <li *ngFor="let purchase of purchases"
      [class.selected]="purchase === selectedPurchase"
      (click)="onSelect(purchase)">
    <span class="badge">{{purchase.id}}</span>Client: {{purchase.client}}; Book {{purchase.book}}
    <button
      [class.delete]="true"
      (click)="deletePurchase(purchase);$event.stopPropagation()">delete
    </button>
  </li>
</ul>

<app-purchases-detail [purchase]="selectedPurchase"></app-purchases-detail>

